<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <classPathEntry
            location="/Users/lijun/Maven/mysql-connector-java-5.1.48-bin.jar" />
    <context id="MysqlTables" targetRuntime="MyBatis3" defaultModelType="flat">

        <property name="javaFileEncoding" value="UTF-8"/>
        <!-- 分页相关 -->
        <plugin type="org.mybatis.generator.plugins.RowBoundsPlugin" />
        <!-- 带上序列化接口 -->
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin" />
        <!-- 自定义的注释生成插件-->
        <plugin type="com.chrm.mybatis.generator.plugins.CommentPlugin">
            <!-- 抑制警告 -->
            <property name="suppressTypeWarnings" value="true" />
            <!-- 是否去除自动生成的注释 true：是 ： false:否 -->
            <property name="suppressAllComments" value="false" />
            <!-- 是否生成注释代时间戳-->
            <property name="suppressDate" value="true" />
        </plugin>
        <!-- 整合lombok-->
        <plugin type="com.chrm.mybatis.generator.plugins.LombokPlugin" >
            <property name="hasLombok" value="true"/>
        </plugin>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/pdp_db?useUnicode=true&amp;characterEncoding=utf8"
                        userId="root" password="root">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!-- 实体生成目录配置 -->
        <javaModelGenerator targetPackage="com.pd.pdp.entity"
                            targetProject="src/main/java">
            <property name="enableSubPackages" value="false" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!-- mapper.xml接口生成目录配置 -->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- mapper接口生成目录配置 -->
        <javaClientGenerator type="XMLMAPPER"
                             targetPackage="com.pd.pdp.mapper" targetProject="src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--表格实体配置-->
<!--        <table-->
<!--                tableName="au_auth"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="AuthEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_dict"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="DictEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_dict_type"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="DictTypeEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

        <table
                tableName="au_login_log"
                schema="SCOTT"
                domainObjectName="LoginLogEntity"
                enableCountByExample="false"
                enableUpdateByExample="false"
                enableDeleteByExample="false"
                enableSelectByExample="false"
                selectByExampleQueryId="false"
        ></table>

<!--        <table-->
<!--                tableName="au_oper_log"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="OperLogEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_org"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="OrgEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_role"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="RoleEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_role_auth"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="RoleAuthEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_sys"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="SysEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_user"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="UserEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

<!--        <table-->
<!--                tableName="au_user_role"-->
<!--                schema="SCOTT"-->
<!--                domainObjectName="UserRoleEntity"-->
<!--                enableCountByExample="false"-->
<!--                enableUpdateByExample="false"-->
<!--                enableDeleteByExample="false"-->
<!--                enableSelectByExample="false"-->
<!--                selectByExampleQueryId="false"-->
<!--        ></table>-->

        <!-- 生成数据库中所有表的实体 （要加上schema=SCOTT（大写），否则会生成所有实体表）-->
<!--        <table -->
<!--                tableName="%" -->
<!--                schema="SCOTT" -->
<!--                enableCountByExample="false" -->
<!--                enableUpdateByExample="false" -->
<!--                enableDeleteByExample="false" -->
<!--                enableSelectByExample="false" -->
<!--                selectByExampleQueryId="false" -->
<!--        ></table>-->


    </context>
</generatorConfiguration>
