<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pd.pdp.server.mapper.AuthEntityMapper" >
  <resultMap id="BaseResultMap" type="com.pd.pdp.server.entity.AuthEntity" >
    
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="INTEGER" />
    
    <!-- 系统id -->
    <result column="sys_id" property="sysId" jdbcType="INTEGER" />
    
    <!-- 权限名称 -->
    <result column="name" property="name" jdbcType="VARCHAR" />
    
    <!-- 权限状态:0-不可用，1-可用，2-删除 -->
    <result column="status" property="status" jdbcType="INTEGER" />
    
    <!-- 权限类型:1-菜单，2-按钮，3-权限 -->
    <result column="type" property="type" jdbcType="INTEGER" />
    
    <!-- 权限url -->
    <result column="url" property="url" jdbcType="VARCHAR" />
    
    <!-- 权限标识 -->
    <result column="auth_key" property="authKey" jdbcType="VARCHAR" />
    
    <!-- 排列序号 -->
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    
    <!-- 父权限id -->
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    
    <!-- 权限样式 -->
    <result column="clazz" property="clazz" jdbcType="VARCHAR" />
    
    <!-- 跳转目标页面名称 -->
    <result column="target" property="target" jdbcType="VARCHAR" />
    
    <!-- 描述信息 -->
    <result column="description" property="description" jdbcType="VARCHAR" />
    
    <!-- 创建信息的用户id -->
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    
    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    
    <!-- 更新用户 -->
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    
    <!-- 更新时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />

    <result column="parentName" property="parentName" jdbcType="VARCHAR"/>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    id, sys_id, name, status, type, url, auth_key, sort_no, parent_id, clazz, target, 
    description, create_user_id, create_time, update_user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from au_auth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    delete from au_auth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    insert into au_auth (id, sys_id, name,
      status, type, url, auth_key, 
      sort_no, parent_id, clazz, 
      target, description, create_user_id, 
      create_time, update_user_id, update_time
      )
    values (#{id,jdbcType=INTEGER}, #{sysId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{authKey,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{clazz,jdbcType=VARCHAR}, 
      #{target,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createUserId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    insert into au_auth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysId != null" >
        sys_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="authKey != null" >
        auth_key,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="clazz != null" >
        clazz,
      </if>
      <if test="target != null" >
        target,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysId != null" >
        #{sysId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="authKey != null" >
        #{authKey,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="clazz != null" >
        #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        #{target,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    update au_auth
    <set >
      <if test="sysId != null" >
        sys_id = #{sysId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="authKey != null" >
        auth_key = #{authKey,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="clazz != null" >
        clazz = #{clazz,jdbcType=VARCHAR},
      </if>
      <if test="target != null" >
        target = #{target,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    update au_auth
    set sys_id = #{sysId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      url = #{url,jdbcType=VARCHAR},
      auth_key = #{authKey,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=INTEGER},
      clazz = #{clazz,jdbcType=VARCHAR},
      target = #{target,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-10-15 13:19:35 ### -->



  <!-- Your codes goes here!!! -->

  <select id="selectAuthByRoleIds" parameterType="list" resultMap="BaseResultMap">
    select
    a.id, a.name, a.status, a.clazz, a.type, a.url, a.auth_key, a.sort_no, a.parent_id, a.target, a.description, a.create_user_id,
    a.create_time, a.update_user_id, a.update_time
    FROM au_auth a
    LEFT JOIN au_role_auth b ON a.id = b.auth_id
    WHERE b.role_id IN
    <foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    AND a.type = 1 AND a.status = 1
    ORDER BY a.sort_no ASC
  </select>

  <select id="selectAuthByParentId" resultMap="BaseResultMap">
    select
    a.id, a.name, a.status, a.clazz, a.type, a.url, a.auth_key, a.sort_no, a.parent_id, a.target, a.description, a.create_user_id,
    a.create_time, a.update_user_id, a.update_time
    FROM au_auth a
    LEFT JOIN au_role_auth b ON a.id = b.auth_id
    WHERE b.role_id IN
    <foreach collection="roleIds" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
    AND a.parent_id = #{parentId,jdbcType=INTEGER}
    AND a.type = 2 AND a.status = 1
    ORDER BY a.sort_no ASC
  </select>

  <update id="updateAuthStatus">
    update au_auth
    set status = #{status,jdbcType=INTEGER}
    where id  in
    <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>
  
  <select id="selectAuthListCount" resultType="java.lang.Integer">
    select count(1) from au_auth
    where status != 2
    <if test="pageVO.data.name != null and pageVO.data.name !='' ">
      and name LIKE concat(concat('%',#{pageVO.data.name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="pageVO.data.type != null">
      and type = #{pageVO.data.type,jdbcType=INTEGER}
    </if>
    <if test="pageVO.data.status != null">
      and status = #{pageVO.data.status,jdbcType=INTEGER}
    </if>
  </select>

  <select id="selectAuthList" resultMap="BaseResultMap">
    select
    a.id, a.sys_id, a.name, a.status, a.type, a.url, a.auth_key, a.sort_no, a.parent_id, a.clazz, a.target,
    a.description, a.create_user_id, a.create_time, a.update_user_id, a.update_time, b.name AS parentName
    from au_auth a
    left join au_auth b on a.parent_id = b.id
    where a.status != 2
    <if test="pageVO.data.name != null and pageVO.data.name !='' ">
      and a.name LIKE concat(concat('%',#{pageVO.data.name,jdbcType=VARCHAR}),'%')
    </if>
    <if test="pageVO.data.type != null">
      and a.type = #{pageVO.data.type,jdbcType=INTEGER}
    </if>
    <if test="pageVO.data.status != null">
      and a.status = #{pageVO.data.status,jdbcType=INTEGER}
    </if>
    ORDER BY a.create_time DESC
    LIMIT #{pageVO.dbIndex,jdbcType=INTEGER},#{pageVO.dbNumber,jdbcType=INTEGER}
  </select>

  <select id="selectAuthTree" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from au_auth
    where status = 1
    order by create_time
  </select>
</mapper>