<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pd.pdp.server.mapper.DictEntityMapper" >
  <resultMap id="BaseResultMap" type="com.pd.pdp.server.entity.DictEntity" >
    
    <!-- 主键 -->
    <id column="id" property="id" jdbcType="INTEGER" />
    
    <!-- 字典键 -->
    <result column="dict_key" property="dictKey" jdbcType="VARCHAR" />
    
    <!-- 字典值 -->
    <result column="dict_value" property="dictValue" jdbcType="VARCHAR" />
    
    <!-- 字典排列序号 -->
    <result column="sort_no" property="sortNo" jdbcType="INTEGER" />
    
    <!-- 字典类型id -->
    <result column="dict_type_id" property="dictTypeId" jdbcType="INTEGER" />
    
    <!-- 描述信息 -->
    <result column="description" property="description" jdbcType="VARCHAR" />
    
    <!-- 字典状态：0-可用，1-不可用，2-删除 -->
    <result column="status" property="status" jdbcType="INTEGER" />
    
    <!-- 创建信息的用户id -->
    <result column="create_user_id" property="createUserId" jdbcType="INTEGER" />
    
    <!-- 创建的时间 -->
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    
    <!-- 更新信息的用户id -->
    <result column="update_user_id" property="updateUserId" jdbcType="INTEGER" />
    
    <!-- 更新的时间 -->
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    id, dict_key, dict_value, sort_no, dict_type_id, description, status, create_user_id, 
    create_time, update_user_id, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    select 
    <include refid="Base_Column_List" />
    from au_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    delete from au_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    insert into au_dict (id, dict_key, dict_value,
      sort_no, dict_type_id, description, 
      status, create_user_id, create_time, 
      update_user_id, update_time)
    values (#{id,jdbcType=INTEGER}, #{dictKey,jdbcType=VARCHAR}, #{dictValue,jdbcType=VARCHAR}, 
      #{sortNo,jdbcType=INTEGER}, #{dictTypeId,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{createUserId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateUserId,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    insert into au_dict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dictKey != null" >
        dict_key,
      </if>
      <if test="dictValue != null" >
        dict_value,
      </if>
      <if test="sortNo != null" >
        sort_no,
      </if>
      <if test="dictTypeId != null" >
        dict_type_id,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dictKey != null" >
        #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="dictTypeId != null" >
        #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    update au_dict
    <set >
      <if test="dictKey != null" >
        dict_key = #{dictKey,jdbcType=VARCHAR},
      </if>
      <if test="dictValue != null" >
        dict_value = #{dictValue,jdbcType=VARCHAR},
      </if>
      <if test="sortNo != null" >
        sort_no = #{sortNo,jdbcType=INTEGER},
      </if>
      <if test="dictTypeId != null" >
        dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Thu Oct 15 13:19:35 CST 2020.
    -->
    update au_dict
    set dict_key = #{dictKey,jdbcType=VARCHAR},
      dict_value = #{dictValue,jdbcType=VARCHAR},
      sort_no = #{sortNo,jdbcType=INTEGER},
      dict_type_id = #{dictTypeId,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_user_id = #{createUserId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_user_id = #{updateUserId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2020-10-15 13:19:35 ### -->



  <!-- Your codes goes here!!! -->
  
</mapper>